html{
    background-color: #03045E;
}

header{
    color: #CAF0F8;
    background-color: rgb(2, 62, 138);
    text-align: center;
    text-decoration: white double underline overline;
    line-height: 2;
    letter-spacing: 5px;
    font-size: 25px; 
}

*{
    font-family: monochrome, sans-serif;
}

h2{
    text-align: center;
    font-weight: normal;
    text-decoration: white double underline;
}

h3{
    color: #CAF0F8;
    /* text-decoration: white dotted underline; */
}

h4{
    text-decoration: white wavy underline;
}

nav{
    background-color: #0077B6;
}

main{
    background-color: #0096C7;
}

footer{
    background-color: #00B4D8;
    color: white;
    text-align: center;
}

label{
    color:white;
}

button{
    color: green;
}

figure{
    color: orangered;
}