*{
    color: darkcyan;
}

img{
    width: 300px;
    height: 200px;
}

h1,h2{
    color: darkorange;
}

#rsearch{
    background-color: #f2cc8f;
}

.tag{
    color: white;
    background-color: #fcbf49;
    text-decoration: none;
}

html body nav a{
    color: tomato;
}

h3+p{
    color: blueviolet;
}

form > h4{
    color: orangered;
}