span{
    background-color: hotpink;
    border: 1px solid black;
    width: 500px;
    padding: 20px;
    margin: 20px;
}

h2{
    background-color: cornflowerblue;
    border: 1px solid black;
    width: 500px;
    padding: 20px;
    margin: 20px;
}

div{
    height: 100px;
    width: 100px;
    background-color: crimson;
    border: 1px solid black;
    display: inline-block;
    margin: 30px;
}
