section{
    width: 80%;
    height: 500px;
    /* background-image: url("https://images.unsplash.com/photo-1624863103144-b1acc8a78fb9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"); */
    margin: auto;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center ; */

    background: no-repeat center/contain url("https://images.unsplash.com/photo-1494861895304-fb272971c078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"), url("https://images.unsplash.com/photo-1624863103144-b1acc8a78fb9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}